@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Mono"),
       local("IBMPlexMono"),
       url("/fonts/plex/IBMPlexMono-Regular.woff2") format("woff2"),
       url("/fonts/plex/IBMPlexMono-Regular.woff") format("woff");
}
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Sans Cond"),
       local("IBMPlexSansCond-Regular"),
       url("/fonts/plex/IBMPlexSansCondensed-Regular.woff2") format("woff2"),
       url("/fonts/plex/IBMPlexSansCondensed-Regular.woff") format("woff");
}
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("IBM Plex Sans Cond Bold"),
       local("IBMPlexSansCond-Bold"),
       url("/fonts/plex/IBMPlexSansCondensed-Bold.woff2") format("woff2"),
       url("/fonts/plex/IBMPlexSansCondensed-Bold.woff") format("woff");
}
