<!DOCTYPE html>
<html lang="{{ get_locale() }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% assets "css_all" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}

        <link rel="apple-touch-icon" sizes="180x180" href="{{ get_asset_url('apple-touch-icon.png') }}">
        <link rel="manifest" href="{{ get_asset_url('site.webmanifest') }}">
        {% if data %}
            <link rel="icon" type="image/png" href="{{ get_asset_url(current_weather.condition_icon) }}">
        {% else %}
            <link rel="icon" type="image/png" sizes="32x32" href="{{ get_asset_url('favicon-32x32.png') }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ get_asset_url('favicon-16x16.png') }}">
        {% endif %}
        <title>🚴💨 Velo Weather</title>

        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:creator" content="@joachimesque"/>
        <meta property="og:title" content="🚴💨 Velo Weather"/>
        <meta property="og:description" content="{{ _('A basic weather forecast tool to help you plan your bike rides.') }}"/>
        <meta property="og:image" content="{{ get_asset_url('images/og_image.png') }}"/>
        <meta property="og:image:width" content="800"/>
        <meta property="og:image:height" content="600"/>
    </head>
    <body>
        <main class="container">
            <div class="loader" aria-hidden="true">
                <img alt="" width="42" height="42" src="{{ get_asset_url('images/loading.svg') }}" />
                <span>{{ _('Loading…') }}</span>
            </div>

            <header>
                <div class="row flex-align-items-center">
                    <a class="col header_logo" href="/">
                        <img class="logo" alt="" src="{{ get_asset_url('images/logo.svg') }}" />
                        <h1>Velo Weather</h1>
                    </a>
                    <div class="col form">
                        <form method="POST" action="/" id="location-form">
                            <div class="grouped">
                                <input list="locations-list" type="text" name="location" id="location-input" autocomplete="off" value="{{ location }}" aria-label="{{ _('Location') }}">
                                <button class="button icon-only clear" aria-label="{{ _('Reset input') }}" type="button" id="location-reset">
                                    <span aria-hidden="">✕</span>
                                </button>
                                <datalist id="locations-list"></datalist>
                                <input type="hidden" name="latitude" />
                                <input type="hidden" name="longitude" />
                                <button type="submit" disabled>
                                    {{ _('Go!') }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <theme-switch dark="Mode sombre" light="Mode clair" style=""></theme-switch>
            </header>

            {% if not data %}
                <section>🤕 {{ _('No data found. Wrong location?') }}</section>
            {% else %}
                <section class="card current_weather">
                    <h2 class="current_weather_title">
                        <span>{{ _('Now') }}</span>

                        <span class="current_weather_icon">
                            <img src="{{ get_asset_url(current_weather.condition_icon) }}" alt="{{ current_weather.condition_text }}">
                            {{ current_weather.temperature_2m }}{{_('°C')}}
                        </span>
                    </h2>

                    <dl class="current_weather_summary">
{#                        <div>
                            <dt>{{ _('Updated') }}</dt>
                            <dd>{{ current_weather.time }}</dd>
                        </div>#}

                        <div>
                            <dt>{{ _('Air quality') }}</dt>
                            <dd>
                                <span aria-hidden="" style="color: {{ current_weather.air_quality_gradient }}">●</span>
                                {{ current_weather.air_quality_translation }}
                            </dd>
                        </div>
                        <div>
                            <dt>{{ _('Wind speed') }}</dt>
                            <dd>
                                {{ current_weather.windspeed_notice }}
                                {{ current_weather.windspeed_10m }}{{ _('kph') }}
                            </dd>
                        </div>
                        <div>
                            <dt>{{ _('Wind gust') }}</dt>
                            <dd>
                                {{ current_weather.windgusts_notice }}
                                {{ current_weather.windgusts_10m }}{{ _('kph') }}
                            </dd>
                        </div>
                        <div>
                            <dt>{{ _('Wind direction') }}</dt>
                            <dd>
                                <span aria-hidden class="is-inline-block" style="transform: rotate({{ current_weather.winddirection_10m }}deg);">↓</span>
                                <small>
                                    <abbr title="{{ current_weather.wind_azimuth_full }}">
                                        {{ current_weather.wind_azimuth_abbr }}
                                    </abbr>
                                </small>
                            </dd>
                        </div>
                        <div>
                            <dt>{{ _('Precipitation') }}</dt>
                            <dd>{{ current_weather.precipitation }}{{ _('mm') }}</dd>
                        </div>
                        <div>
                            <dt>{{ _('Feels like') }}</dt>
                            <dd>{{ current_weather.apparent_temperature }}{{_('°C')}}</dd>
                        </div>
                    </dl>
                </section>

                <details>
                    <summary>💡 {{ _('Legend') }}</summary>
                    <ul>
                        <li>
                            🎲 {{ _('A ride opportunity indicator, based on rain, wind, day/night, extreme temps and risk of ice. The higher the number, the worse the conditions and the more dangerous the ride.') }}
                            {{ _('See source code <code>def get_proba_properties(hour):</code> for details.') }}
                            {{ _('Linear gradient from 0 (green) to 40 (red).') }}
                        </li>
                        <li>💨 {{ _('Wind speed in kilometers per hour, shown with the repetiton of the emoji 💨. Zero to two is okay, three and four (for speeds above %(max_wind)s<abbr title=\'kilometers per hour\'>kph</abbr>) are strong to very strong winds.', max_wind=max_wind) }}</li>
                        <li>🧭 {{ _('Wind directions, in degrees.') }}</li>
                        <li>
                            ☔️ {{ _('Precipitation in millimeters per hour.') }}
                            {{ _('Vertical scale from 0 to %(max_rain)s<abbr title=\'millimeters\'>mm</abbr>.', max_rain=max_rain) }}</li>
                        <li>🌡 {{ _('Temperature in degree Celcius. Scale from %(extreme_min)s<abbr title=\'degrees Celcius\'>°C</abbr> (blue) to %(ideal_min)s<abbr title=\'degrees Celcius\'>°C</abbr> (white) and from %(ideal_max)s<abbr title=\'degrees Celcius\'>°C</abbr> to %(extreme_max)s<abbr title=\'degrees Celcius\'>°C</abbr> (orange).', ideal_min=ideal_temps[0], ideal_max=ideal_temps[1], extreme_min=extreme_temps[0], extreme_max=extreme_temps[1]) }}</li>
                        <li>🥶/😨/🙂/😊/🥵 {{ _('Apparent temperature, in degree Celcius. Same scale as temperature.') }}</li>
                    </ul>
                </details>

                {% with has_settings_in_url = request.args.get("use_relative_temps", None) is not none %}
                    <details id="settings" {% if has_settings_in_url %}open{% endif %}>
                        <summary>
                            🎛 {{ _('Settings') }}
                            {% if has_settings_in_url %}
                                <span class="tag is-small text-success bd-success text-lowercase">
                                    {{ _('Saved!') }}
                                </span>
                            {% endif %}
                        </summary>
                        <div>
                            <ul>
                                <li>
                                {% if use_relative_temps %}
                                    {{ _('The ideal temperature range is based on last weeks weather, from %(ideal_min)s<abbr title=\'degrees Celcius\'>°C</abbr> to %(ideal_max)s<abbr title=\'degrees Celcius\'>°C</abbr>', ideal_min=ideal_temps[0], ideal_max=ideal_temps[1]) }}
                                {% else %}
                                    {{ _('The ideal temperature range is the default setting, from %(ideal_min)s<abbr title=\'degrees Celcius\'>°C</abbr> to %(ideal_max)s<abbr title=\'degrees Celcius\'>°C</abbr>', ideal_min=default_ideal_temps[0], ideal_max=default_ideal_temps[1]) }}
                                {% endif %}
                                <br />
                                {% with value = 0 if use_relative_temps else 1 %}
                                    <a href="?use_relative_temps={{ value }}">
                                    {% if use_relative_temps %}
                                        {{ _('Use the default ideal temperature range between %(ideal_min)s<abbr title=\'degrees Celcius\'>°C</abbr> and %(ideal_max)s<abbr title=\'degrees Celcius\'>°C</abbr>', ideal_min=default_ideal_temps[0], ideal_max=default_ideal_temps[1]) }}
                                    {% else %}
                                        {{ _('Base the ideal temperature range on last week’s weather') }}
                                    {% endif %}
                                    </a>
                                {% endwith %}
                                </li>
                            </ul>
                        </div>
                    </details>
                {% endwith %}

                {% set forecasts = data %}
                {% for forecast in forecasts %}
                    <section>
                        <h2 class="forecast_day">
                            <img src="{{ get_asset_url(forecast.condition_icon) }}" title="{{ forecast.condition_text }}" alt="{{ forecast.condition_text }}">
                            {{ forecast.date }}
                        </h2>
                        <div class="table-container">
                            <table tabindex="-1">
                                <thead>
                                    <tr>
                                        <th></th>
                                        {% for hour in forecast.hour %}
                                            <th class="{{ hour.classes }}">
                                                {{ hour.hour }}
                                            </th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th title="Forecast icon"></th>
                                        {% for hour in forecast.hour %}
                                            <td class="{{ hour.classes }}">
                                                <img style="max-width: 25px;" src="{{ get_asset_url(hour.condition_icon) }}" alt="{{ hour.condition_text }}" title="{{ hour.condition_text }}">
                                                {% if "air_quality_index" in hour %}
                                                    <span title="{{ _('Air quality') }}: {{ hour.air_quality_translation }} ({{10 - hour.air_quality_index}}/10)" style="color: {{ hour.air_quality_gradient }}">●</span>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th title="{{ _('Very complicated opportunity indicator') }}">🎲</th>
                                        {% for hour in forecast.hour %}
                                            <td class="cell_custom cell_custom_opportunity {{ hour.classes }}" style="--bg-percentage: {{ hour.proba_percentage }};">
                                                <strong class="invisible_value value">
                                                    {{ hour.proba_value }}
                                                </strong>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th title="{{ _('Wind speed (kph)') }}">💨</th>
                                        {% for hour in forecast.hour %}
                                            <td class="{{ hour.classes }}">
                                                <span class="value">
                                                    <span class="one_line">
                                                        {{ hour.windspeed_notice }}
                                                    </span>
                                                    <small>{{ hour.windspeed_10m }}{{ _('kph') }}</small>
                                                </span>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th title="{{ _('Wind direction') }}">🧭</th>
                                        {% for hour in forecast.hour %}
                                            <td class="{{ hour.classes }}">
                                                <span class="value">
                                                    <span aria-hidden class="is-inline-block" style="transform: rotate({{ hour.winddirection_10m }}deg);">↓</span>
                                                    <small>
                                                        <abbr title="{{ hour.wind_azimuth_full }}">
                                                            {{ hour.wind_azimuth_abbr }}
                                                        </abbr>
                                                    </small>
                                                </span>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th title="{{ _('Precipitation (mm)') }}">☔️</th>
                                        {% for hour in forecast.hour %}
                                            <td class="cell_custom_height {{ hour.classes }}" style="--bg-percentage: {{ hour.precip_percent }}; --bg-limit: {{ hour.precip_alert }}%" title="{{ _('Chance of rain is %(chance_of_rain)s%(percent)s, and precipitation is %(precipitation)s millimeters.', chance_of_rain=hour.chance_of_rain, percent=_('&percnt;'), precipitation=hour.precipitation ) }}">
                                                <span class="value"><small>{{ hour.precipitation }}{{_("mm")}}</small></span>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th title="{{ _('Temperature') }}">🌡</th>
                                        {% for hour in forecast.hour %}
                                            <td class="cell_custom cell_custom_temperature {{ hour.classes }}" style="--bg-percentage: {{ hour.temperature_2m_percentage }}; --ideal-min: {{ hour.ideal_min }}%; --ideal-max: {{ hour.ideal_max }}%;">
                                                <span class="value">{{ hour.temperature_2m }}{{_('°C')}}</span>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th title="{{ _('Feels like') }}">
                                            {{ forecast.feelslike_emoji }}
                                        </th>
                                        {% for hour in forecast.hour %}
                                            <td class="cell_custom cell_custom_temperature {{ hour.classes }}" style="--bg-percentage: {{ hour.apparent_temperature_percentage }}; --ideal-min: {{ hour.ideal_min }}%; --ideal-max: {{ hour.ideal_max }}%;">
                                                <span class="value">{{ hour.apparent_temperature }}{{_('°C')}}</span>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                {% endfor %}

            {% endif %}

            <footer class="row flex-align-items-center">
                <div class="col-9-lg">
                    {{ _('Based on an idea and code by abulte:') }} <a href="https://github.com/abulte/velo-weather">Github:abulte/velo-weather</a>
                    | <a href="https://www.buymeacoffee.com/abulte">{{ _('Support them with a pizza') }} 🍕</a>
                    <br />
                    {{ _('Fork by joachimesque:') }}
                    <a href="https://github.com/joachimesque/velo-weather">Github:joachimesque/velo-weather</a> | {{ _('made in Montreuil 🍑 with pride') }}
                    <br />
                    {{ _('Logo made from Noto Emoji font:') }}
                    <a href="https://github.com/googlefonts/noto-emoji">Github:googlefonts/noto-emoji</a>
                </div>

                <div class="col form">
                    <form method="GET" action="/" id="languages-form">
                        <div class="grouped">
                            <select name="lang" aria-label="{{ _('Language') }}">
                                {% for lang, lang_name in languages.items() %}
                                    <option value="{{ lang }}" {% if get_locale() == lang %}selected{% endif %}>
                                        {{ lang_name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="button secondary">
                                {{ _('Go!') }}
                            </button>
                        </div>
                    </form>
                    {{ _('Weather data:') }}
                    <a href="https://open-meteo.com">Open Meteo</a>
                </div>
            </footer>
        </main>

        {% assets "js_all" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

    </body>
</html>
