:root {
    --grid-gutter: 5rem;
    --font-family-sans: "IBM Plex Sans Condensed", sans-serif;
    --font-family-mono: "IBM Plex Mono", monospace;
    --color-primary: #2B2135;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
a[href] {
    text-decoration: underline;
}
a.header_logo {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
}
.header_logo img.logo {
    width: 6rem;
}
.header_logo h1 {
    margin: 0;
}
.forecast_day {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.forecast_day img {
    max-width: 1.6em;
    vertical-align: middle;
}
td, th {
    vertical-align: middle;
    text-align: center;
    padding: 0.4rem 0.4rem;
}
.is-inline-block {
    display: inline-block;
}
.flex-align-items-center {
    align-items: center;
}
summary {
    cursor: pointer;
    font-weight: bold;
}
form {
    margin: 0;
}
footer {
    border-top: 1px solid lightgrey;
    font-size: 0.8em;
    margin-top: 2em;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
}
#location {
    display: inline-block;
    width: auto;
}
details {
    margin: 1em 0 1rem;
}
section {
    margin: 2em 0 3rem;
}
small {
    font-size: 0.8em;
}

/* TABLES */
.table-container {
    overflow-x: scroll;
    overscroll-behavior: contain;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    font-size: 1.4rem;
}

th.cell_past, td.cell_past {
    opacity: .5;
}

th.cell_night, td.cell_night {
    background-color: hsla(200deg, 30%, 50%, .3);
}

tr > :first-child {
    background-color: white;
    position: sticky;
    left: 0;
    box-sizing: border-box;
    min-width: 50px;
    z-index: 1;
}
td .value {
    display: inline-flex;
    flex-direction: column;
    min-height: 2.6rem;
    min-width: 2.6rem;
    border-radius: 1.3rem;
    align-items: center;
    justify-content: center;
    padding: 0 .6rem;
    background-color: hsla(0, 0%, 100%, 0);
    transition: background-color .2s ease, opacity .2s ease;
    margin: .2em 0;
}
td .value.invisible_value {
    opacity: 0;
}
table:focus td .value,
table:hover td .value {
    background-color: hsl(0, 0%, 100%);
    opacity: 1;
}
td.cell_custom {
    position: relative;
}
td.cell_custom::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--bg-height, 0%);
    background-color: var(--bg-color);
    z-index: -1;
}

/* CURRENT WEATHER */
.current_weather_title {
    display: flex;
    flex-direction: column;
}
.current_weather_title span.current_weather_icon {
    display: inline-flex;
    align-items: center;
    padding-right: 0;
    gap: .4em;
}
span.current_weather_icon img {
    height: 1.6em;
    width: auto;
}
.one_line {
    white-space: nowrap;
}

/* LOADER */
main {
  transform: translateY(-100px);
  transition: 0.3s 0.1s ease-in-out;
}

main.is-loading {
    transform: translateY(0px);
}

.loading-container {
  min-height: 100px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:  10px;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

main.is-loading .loading-container {
    opacity: 1;
}

.loading-container .loading-progress {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: var(--color-primary);
  border-right-color: var(--color-primary);
  animation: loading-progress 0.5s infinite forwards;
}

@keyframes loading-progress {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(min-width: 768px) {
    /* CURRENT WEATHER */
    .current_weather {
        margin-left: auto;
        margin-right: auto;
        max-width: 64rem;
    }
    .current_weather_title,
    dl.current_weather_summary div {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
    }
    .current_weather_title::before,
    dl.current_weather_summary div::before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px solid hsl(0, 0%, 85%);
        bottom: .2em;
        z-index: 0;
    }
    .current_weather_title span,
    dl.current_weather_summary dt,
    dl.current_weather_summary dd {
        position: relative;
        background: white;
        z-index: 1;
    }
    .current_weather_title span,
    dl.current_weather_summary dt {
        text-align: left;
        padding-right: 0.6em;
    }
    .current_weather_title span.current_weather_icon,
    dl.current_weather_summary dd {
        text-align: right;
        padding-left: 0.3em;
    }

    /* Various */
    table {
        font-size: 1.5rem;
    }
    div.form {
        text-align: right;
    }
}
